{% extends "base.html" %}
{% block content %}
  <div class="mb-4">
    <h2 class="mb-2">{{ _("日々の記録") }}</h2>
    <p>
      <small>{{ _("「記録する」ボタンをクリックすると、特定の日の気分、体調、服用したお薬を記録することができます") }}</small>
    </p>
  </div>
  <div class="row">
    <div class="col-5 col-lg-2 mb-5">
      <a href="{{ url_for('create_daily_log') }}" class="btn btn-custom w-100">{{ _("記録する") }}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-7 mb-3">
      <h5 class="mb-2">{{ _("日々の記録一覧") }}</h5>
      {% if not daily_logs %}
        <small class="text-secondary">{{ _("記録はまだありません") }}</small>
      {% else %}
        {{ pagination.info }}
        <div class="accordion mb-3" id="accordionDailyLog">
          {% for daily_log in daily_logs %}
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed d-flex flex-column align-items-start p-2"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse{{ loop.index }}"
                        aria-expanded="false"
                        aria-controls="collapse{{ loop.index }}">
                  <span class="pb-1">{{ moment(daily_log.date).format("L") }}</span>
                  <span>気分:
                    {% for i in range(0, daily_log.mood) %}
                      <img src="{{ url_for('static', filename='images/star_on.png') }}"
                           class="star-display rating-checked"
                           alt="star">
                    {% endfor %}
                    {% if daily_log.mood < 5 %}
                      {% for i in range(daily_log.mood, 5) %}
                        <img src="{{ url_for('static', filename='images/star_on.png') }}"
                             class="star-display"
                             alt="star">
                      {% endfor %}
                    {% endif %}
                    　体調:
                    {% for i in range(0, daily_log.condition) %}
                      <img src="{{ url_for('static', filename='images/star_on.png') }}"
                           class="star-display rating-checked"
                           alt="star">
                    {% endfor %}
                    {% if daily_log.condition < 5 %}
                      {% for i in range(daily_log.condition, 5) %}
                        <img src="{{ url_for('static', filename='images/star_on.png') }}"
                             class="star-display"
                             alt="star">
                      {% endfor %}
                    {% endif %}
                  </span>
                </button>
              </h2>
              <div id="collapse{{ loop.index }}"
                   class="accordion-collapse collapse"
                   data-bs-parent="#accordionDailyLog">
                <div class="accordion-body">
                  <table class="table table-hover mb-0">
                    {% if daily_log.all_doses_zero %}
                      <tr>
                        <td>{{ _("服用したお薬はありません") }}</td>
                      </tr>
                    {% else %}
                      {% for detail in daily_log.daily_log_details %}
                        {% if not detail.dose == 0.0 %}
                          <tr>
                            <td style="width: 70%;">{{ detail.medicine.name }}</td>
                            <td style="width: 30%">
                              {# 服用した量が1.0など小数点以下が0であれば数値に変換 #}
                              {% if (detail.dose|string).split(".")[1] == "0" %}
                                {{ detail.dose|int }}
                              {% else %}
                                {{ detail.dose }}
                              {% endif %}
                              {{ detail.medicine.taking_unit.value }}
                            </td>
                          </tr>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  </table>
                </div>
                <a href="{{ url_for('edit_daily_log', daily_log_id=daily_log.id) }}"
                   class="btn btn-custom btn-sm ms-4 mt-0 mb-3">{{ _("記録を編集") }}</a>
                <button type="button"
                        class="btn btn-danger btn-sm mx-2 mt-0 mb-3"
                        data-bs-toggle="modal"
                        data-bs-target="#deletingModal"
                        data-date="{{ daily_log.date }}"
                        data-url="{{ url_for('delete_daily_log', daily_log_id=daily_log.id) }}">
                  {{ _("記録を削除") }}
                </button>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="d-flex justify-content-center mb-3">{{ pagination.links }}</div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
{# 削除モーダル #}
{% block modal %}
  <div class="modal fade"
       id="deletingModal"
       tabindex="-1"
       aria-labelledby="deletingModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deletingModalLabel"></h1>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <form id="deleteForm" method="post">
            {{ form.hidden_tag() }}
            {{ form.submit(class="btn btn-danger") }}
          </form>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _("キャンセル") }}</button>
        </div>
      </div>
    </div>
  </div>
{% endblock modal %}
{% block script %}
  <script>
    const deletingModal = document.getElementById("deletingModal");
    deletingModal.addEventListener("show.bs.modal", function (event) {
    const button = event.relatedTarget; // モーダルを開いたボタン
    const date = moment(button.getAttribute("data-date")).format("L");
    const url = button.getAttribute("data-url");

    // モーダルのタイトルとボディを更新
    const modalTitle = deletingModal.querySelector(".modal-title");
    const modalBody = deletingModal.querySelector(".modal-body");
    modalTitle.textContent = `${date}の記録削除`;
    modalBody.textContent = `${date}の記録を削除します。よろしいですか？`

    // フォームのactionを更新
    const form = deletingModal.querySelector("#deleteForm");
    form.action = url;
    });
  </script>
{% endblock script %}
