{% extends "base.html" %}
{% block content %}
  <div class="text-center">
    <p>
      <img src="{{ current_user.avatar(256) }}"
           class="img-fluid rounded-circle"
           alt="Avatar">
    </p>
    <h2 class="mb-4">{{ _("ようこそ、%(username)sさん！", username=current_user.username) }}</h2>
    <p>{{ _("現在服用中のお薬：%(medicine_kinds)s種類", medicine_kinds=medicine_kinds) }}</p>
    <p>{{ _("記録してきた日数：%(days)s日", days=days) }}</p>
    <p>
      <a href="{{ url_for('edit_username') }}">{{ _("ユーザー名の変更") }}</a>
    </p>
    <p>
      <a href="{{ url_for('delete_account') }}">{{ _("アカウント削除") }}</a>
    </p>
  </div>
{% endblock content %}
