{% extends "base.html" %}
{% block content %}
    <div class="text-center">
        <p>
            <img src="{{ current_user.avatar(256) }}"
                 class="img-fluid rounded-circle"
                 alt="Avatar">
        </p>
        <h2 class="mb-4">ようこそ、{{ current_user.username }}さん！</h2>
        <p>現在服用中のお薬：{{ medicine_kinds }}種類</p>
        <p>記録してきた日数：〇日</p>
        <p>
            <a href="{{ url_for('edit_username') }}">ユーザー名の変更</a>
        </p>
        <p>
            <a href="{{ url_for('delete_account') }}">アカウント削除</a>
        </p>
    </div>
{% endblock content %}
