{% extends "base.html" %}
{% block content %}
  <div class="col-12 col-lg-7 mb-3">
    <div class="mb-4 d-flex justify-content-between align-items-center">
      <h2>お薬詳細</h2>
      <a href="{{ url_for('medicines') }}" class="btn btn-sm btn-back">お薬管理へ戻る</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-7 mb-3">
      <div class="d-flex justify-content-between align-items-center graph-container mb-2">
        <h5 class="mb-0">月ごとのグラフ</h5>
        <form action="{{ url_for('medicine_detail', medicine_id=medicine.id) }}"
              method="get"
              class="d-flex"
              novalidate>
          {{ selectform.hidden_tag() }}
          {{ selectform.month(class="form-control select-month me-1") }}
          {{ selectform.submit(class="btn btn-custom btn-sm graph-submit") }}
        </form>
      </div>
      <div class="canvascontainer">
        <canvas id="medicineChart"></canvas>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-7 mb-2">
      <div class="mb-1 d-flex justify-content-between align-items-center">
        <h5 class="mb-0">お薬の情報</h5>
        <div>
          <a href="{{ url_for('edit_medicine', medicine_id=medicine.id) }}"
             class="btn btn-custom btn-sm">{{ _("お薬を編集") }}</a>
          <button type="button"
                  class="btn btn-danger btn-sm"
                  data-bs-toggle="modal"
                  data-bs-target="#deletingModal">{{ _("お薬を削除") }}</button>
        </div>
      </div>
      <table class="table table-colored table-hover">
        <tr>
          <td style="width: 40%;">お薬の名前</td>
          <td style="width: 60%;">{{ medicine.name }}</td>
        </tr>
        <tr>
          <td style="width: 40%;">服用開始日</td>
          <td style="width: 60%;">{{ moment(medicine.taking_start_date).format("L") }}</td>
        </tr>
        <tr>
          <td style="width: 40%;">1日に服用する量</td>
          <td style="width: 60%;">
            {% if not medicine.dose_per_day %}
              -
              {# 一日に服用する量が1.0など小数点以下が0であれば数値に変換 #}
            {% elif (medicine.dose_per_day|string).split(".")[1] == "0" %}
              {{ medicine.dose_per_day|int }}
            {% else %}
              {{ medicine.dose_per_day }}
            {% endif %}
            {{ unit_labels[medicine.taking_unit] }}
          </td>
        </tr>
        <tr>
          <td style="width: 40%;" class="sp-br-container">
            <span>服用する</span>
            <br>
            <span>タイミング</span>
          </td>
          <td style="width: 60%;">{{ medicine.taking_timing or "-" }}</td>
        </tr>
        <tr>
          <td style="width: 40%;">お薬の評価</td>
          <td style="width: 60%;">
            {% for i in range(0, medicine.rating) %}
              <img src="{{ url_for('static', filename='images/star_on.png') }}"
                   class="star-display rating-checked"
                   alt="star">
            {% endfor %}
            {% if medicine.rating < 5 %}
              {% for i in range(medicine.rating, 5) %}
                <img src="{{ url_for('static', filename='images/star_on.png') }}"
                     class="star-display"
                     alt="star">
              {% endfor %}
            {% endif %}
          </td>
        </tr>
        <tr>
          <td style="width: 40%;">ステータス</td>
          <td style="width: 60%;">
            {% if medicine.is_active == True %}
              服用中
            {% else %}
              服用していない
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-7 mb-3">
      <table class="table table-colored table-hover">
        <tr>
          <td>診察メモ</td>
        </tr>
        <tr>
          <td>{{ medicine.memo or "-" }}</td>
        </tr>
      </table>
    </div>
  </div>
{% endblock content %}
{# 削除モーダル #}
{% block modal %}
  <div class="modal fade"
       id="deletingModal"
       tabindex="-1"
       aria-labelledby="deletingModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deletingModalLabel">{{ _("お薬削除") }}</h1>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{ _("%(medicine_name)sを削除します。お薬を削除すると、日々の記録のデータからもお薬が削除されます。よろしいですか？", medicine_name=medicine.name) }}
        </div>
        <div class="modal-footer">
          <form action="{{ url_for('delete_medicine', medicine_id=medicine.id) }}"
                method="post">
            {{ form.hidden_tag() }}
            {{ form.submit(class="btn btn-danger") }}
          </form>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _("キャンセル") }}</button>
        </div>
      </div>
    </div>
  </div>
{% endblock modal %}
{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js"
          integrity="sha512-ZwR1/gSZM3ai6vCdI+LVF1zSq/5HznD3ZSTk7kajkaj4D292NLuduDCO1c/NT8Id+jE58KYLKT7hXnbtryGmMg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"></script>
  <script>
    const chartData = {{ chart_data | tojson | safe }};
    const maxDose = {{ max_dose | safe }};
    const ctx = document.getElementById("medicineChart").getContext("2d");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: chartData.dates,
        datasets: [
          {
            label: "お薬の量({{ medicine.taking_unit.value }})",
            data: chartData.doses,
            borderColor: 'rgba(54, 162, 235, 1)',
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            type: 'bar',
            yAxisID: 'y-dose',
          },
          {
            label: "気分",
            data: chartData.moods,
            borderColor: 'rgba(255, 99, 132, 1)',
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            type: 'line',
            yAxisID: 'y-rating',
          },
          {
            label: "体調",
            data: chartData.conditions,
            borderColor: 'rgba(75, 192, 192, 1)',
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            type: 'line',
            yAxisID: 'y-rating',
          }
        ]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          "y-dose": {
            type: "linear",
            position: "left",
            min: 0,
            max: maxDose,
            title: {
              display: true,
              text: "お薬の量({{ medicine.taking_unit.value }})",
            },
            ticks: {
              stepSize: 1
            }
          },
          "y-rating": {
            type: "linear",
            position: "right",
            min: 1,
            max: 5,
            title: {
              display: true,
              text: "気分と体調",
            },
            ticks: {
              stepSize: 1
            }
          }
        }
      }
    });
  </script>
{% endblock script %}
