{% extends "base.html" %}
{% block content %}
  <h2 class="mb-4">{{ _("お薬管理") }}</h2>
  <div class="row">
    <div class="col-5 col-lg-2 mb-5">
      <a href="{{ url_for('create_medicine') }}" class="btn btn-custom w-100">{{ _("お薬の登録") }}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-7 mb-3">
      <div class="mb-1 d-flex justify-content-between align-items-center">
        <h5 class="mb-0">{{ _("服用中のお薬") }}</h5>
        {% if active_medicines %}
          <form action="{{ url_for('medicines') }}"
                method="get"
                class="d-flex align-items-center"
                novalidate>
            {{ form.hidden_tag() }}
            <small class="me-1">{{ form.active_sort.label(class="text-nowrap sort-label") }}</small>
            {{ form.active_sort(class="form-select sort-select") }}
            <input type="hidden"
                   name="not_active_sort"
                   value="{{ form.not_active_sort.data }}">
            <input type="submit"
                   class="btn btn-custom btn-sm ms-1 sort-submit"
                   value="{{ _('決定') }}">
          </form>
        {% endif %}
      </div>
      {% if not active_medicines %}
        <small class="text-secondary">{{ _("服用中のお薬はありません") }}</small>
      {% else %}
        <ul class="list-group mb-4">
          {% for medicine in active_medicines %}
            <li class="list-group-item row d-flex">
              <p class="m-0 ps-0 col-5">{{ medicine.name }}</p>
              <p class="m-0 col-5">
                {% for i in range(0, medicine.rating) %}
                  <img src="{{ url_for('static', filename='images/star_on.png') }}"
                       class="star-display rating-checked"
                       alt="star">
                {% endfor %}
                {% if medicine.rating < 5 %}
                  {% for i in range(medicine.rating, 5) %}
                    <img src="{{ url_for('static', filename='images/star_on.png') }}"
                         class="star-display"
                         alt="star">
                  {% endfor %}
                {% endif %}
              </p>
              <div class="col-2 text-end p-0">
                <a href="{{ url_for('medicine_detail', medicine_id=medicine.id) }}"
                   class="btn btn-custom btn-sm">{{ _("詳細") }}</a>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-7 mb-3">
      <div class="mb-1 d-flex justify-content-between align-items-center">
        <h5 class="mb-0">{{ _("服用中でないお薬") }}</h5>
        {% if not_active_medicines %}
          <form action="{{ url_for('medicines') }}"
                method="get"
                class="d-flex align-items-center"
                novalidate>
            {{ form.hidden_tag() }}
            <small class="me-1">{{ form.not_active_sort.label(class="text-nowrap sort-label") }}</small>
            {{ form.not_active_sort(class="form-select sort-select") }}
            <input type="hidden" name="active_sort" value="{{ form.active_sort.data }}">
            <input type="submit"
                   class="btn btn-custom btn-sm ms-1 sort-submit"
                   value="{{ _('決定') }}">
          </form>
        {% endif %}
      </div>
      {% if not not_active_medicines %}
        <small class="text-secondary">{{ _("服用中でないお薬はありません") }}</small>
      {% else %}
        <ul class="list-group mb-4">
          {% for medicine in not_active_medicines %}
            <li class="list-group-item row d-flex">
              <p class="m-0 ps-0 col-5">{{ medicine.name }}</p>
              <p class="m-0 col-5">
                {% for i in range(0, medicine.rating) %}
                  <img src="{{ url_for('static', filename='images/star_on.png') }}"
                       class="star-display rating-checked"
                       alt="star">
                {% endfor %}
                {% if medicine.rating < 5 %}
                  {% for i in range(medicine.rating, 5) %}
                    <img src="{{ url_for('static', filename='images/star_on.png') }}"
                         class="star-display"
                         alt="star">
                  {% endfor %}
                {% endif %}
              </p>
              <div class="col-2 text-end p-0">
                <a href="{{ url_for('medicine_detail', medicine_id=medicine.id) }}"
                   class="btn btn-custom btn-sm">{{ _("詳細") }}</a>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock content %}
